[submodule "dotfiles/.vim/pack/shapeshed/start/vim-airline"]
	path = dotfiles/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotfiles/.vim/pack/plugins/start/vimwiki"]
	path = dotfiles/.vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "dotfiles/.vim/pack/plugins/start/YouCompleteMe"]
	path = dotfiles/.vim/pack/plugins/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "dotfiles/.vim/pack/plugins/start/ctrlp"]
	path = dotfiles/.vim/pack/plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "dotfiles/.vim/pack/plugins/start/pythonpep8"]
	path = dotfiles/.vim/pack/plugins/start/pythonpep8
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "dotfiles/.vim/pack/plugins/start/vim-vue"]
	path = dotfiles/.vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "dotfiles/.vim/pack/plugins/start/vim-fugitive"]
	path = dotfiles/.vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.oh-my-zsh"]
	path = dotfiles/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dotfiles/.vim/pack/plugins/start/vim-go"]
	path = dotfiles/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "dotfiles/.vim/pack/plugins/start/vim-javascript"]
	path = dotfiles/.vim/pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "dotfiles/.vim/pack/plugins/start/typescript-vim"]
	path = dotfiles/.vim/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "dotfiles/.vim/pack/plugins/start/vim-prettier"]
	path = dotfiles/.vim/pack/plugins/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule "dotfiles/.vim/pack/plugins/start/coc.nvim"]
	path = dotfiles/.vim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "dotfiles/.vim/pack/plugins/start/vim-terraform"]
	path = dotfiles/.vim/pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
