[submodule "dotfiles/.vim/pack/shapeshed/start/vim-airline"]
	path = dotfiles/.vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotfiles/.vim/pack/plugins/start/vimwiki"]
	path = dotfiles/.vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "dotfiles/.vim/pack/plugins/start/YouCompleteMe"]
	path = dotfiles/.vim/pack/plugins/start/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "dotfiles/.vim/pack/plugins/start/ctrlp"]
	path = dotfiles/.vim/pack/plugins/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "dotfiles/.vim/pack/plugins/start/pythonpep8"]
	path = dotfiles/.vim/pack/plugins/start/pythonpep8
	url = git@github.com:Vimjas/vim-python-pep8-indent.git
[submodule "dotfiles/.vim/pack/plugins/start/vim-vue"]
	path = dotfiles/.vim/pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
